<div>

	<table dojoAttachPoint="tblHeader" align="center" border="0" cellspacing="0" cellpadding="0" width="800">

		<!-- Header -->
		<tr valign="bottom">
			<td align="left"><img src="${_imgLogo}" alt="Dividia Technologies, LLC Logo" width="301" height="55" /></td>
			<td align="right">Dividia Control Center (Monarch)<br /><span class="copyright">${_sCopyright}</span></td>
		</tr>
		<tr><td colspan="2"><hr /></td></tr>
		<tr valign="top">
			<td align="left" dojoAttachPoint="tdMenu"></td>
			<td align="right"><a href="#" dojoAttachPoint="btnLogout">Logout</a></td>
		</tr>
		<!-- End Header -->

	</table>

	<h1>DVS Failed Camera List</h1>

	<p align="center">
		These are all the cameras that are marked as failed.  This does not contain<br />
		non-maintenance customers or systems that have Preferred=test.
	</p>

	<div dojoAttachPoint="divCamera" style="align: center; margin: 0 auto; padding: 10px;"></div>

</div>
