<div>
	<div dojoAttachPoint="divLogo"><img src="${_imgLogo}" alt="Dividia Technologies, LLC" width="301" height="55" /></div>
	<div dojoAttachPoint="divWatermark"><img src="${_imgWatermark}" alt="Dividia Technologies, LLC" width="37" height="20" /></div>
	<div dojoAttachPoint="divInstruction" class="instruction">Tap screen to bring up camera controls.</div>
	<div dojoAttachPoint="divVideo"></div>
	<div dojoAttachPoint="divCamButtons"></div>
	<div dojoAttachPoint="divControlBox"></div>
	<div dojoAttachPoint="divPtz"></div>
	<div dojoAttachPoint="divPlaceholder"></div>
</div>
