<div>

	<table dojoAttachPoint="tblHeader" align="center" border="0" cellspacing="0" cellpadding="0" width="800">

		<!-- Header -->
		<tr valign="bottom">
			<td align="left"><img src="${_imgLogo}" alt="Dividia Technologies, LLC Logo" width="301" height="55" /></td>
			<td align="right">Dividia Control Center (Monarch)<br /><span class="copyright">${_sCopyright}</span></td>
		</tr>
		<tr><td colspan="2"><hr /></td></tr>
		<tr valign="top">
			<td align="left" dojoAttachPoint="tdMenu"></td>
			<td align="right"><a href="#" dojoAttachPoint="btnLogout">Logout</a></td>
		</tr>
		<!-- End Header -->

	</table>

	<h1>DVS Registrations</h1>

	<!-- Tab - Server List -->
	<div dojoAttachPoint="divTabList" style="display:none">
		<div style="align: center; text-align: center; padding: 5px;">
			<input type="text" value="" size="40" maxlength="40" dojoAttachPoint="entSearch" />&nbsp;
			<a href="#" dojoAttachPoint="btnHelp">?</a>
		</div>

		<div dojoAttachPoint="divListPage" style="align: center; text-align: center; padding: 5px;"></div>

		<div dojoAttachPoint="divServerList" style="padding: 5px;"></div>
	</div>
	<!-- End Tab - Server List -->

	<!-- Tab - Server Info -->
	<div dojoAttachPoint="divTabInfo" style="display:none">

		<table align="center" border="0" cellspacing="10" cellpadding="10">
			<tr>
				<td><img dojoAttachPoint="imgStatus" src="images/status_green.gif" /></td>
				<td align="right">
					<input type="button" value="Cancel" dojoAttachPoint="btnCancel" />
					<input type="button" value="Apply" dojoAttachPoint="btnApply" />
				</td>
			</tr>
			<tr valign="top">
				<td>
					<!-- DVS Info -->
					<table cellspacing="0" class="tblServerInfo">
						<tr>
							<th colspan="2">DVS Info</th>
						</tr>
						<tr>
							<td class="lbl">Serial</td>
							<td><p dojoAttachPoint="pSerial"></p></td>
						</tr>
						<tr>
							<td class="lbl">Controller</td>
							<td><p dojoAttachPoint="pController"></p></td>
						</tr>
						<tr>
							<td class="lbl">Name</td>
							<td><input type="text" value="" dojoAttachPoint="entName" size="32" maxlength="64" /></td>
						</tr>
						<tr>
							<td class="lbl">Company</td>
							<td><input type="text" value="" dojoAttachPoint="entCompany" size="32" maxlength="64" /></td>
						</tr>
						<tr>
							<td class="lbl">Install</td>
							<td><input type="text" value="" dojoAttachPoint="entInstall" size="32" maxlength="10" /></td>
						</tr>
						<tr>
							<td class="lbl">Maintenance Plan</td>
							<td>
								<select size="1" dojoAttachPoint="cbxMaint">
									<option value="no">No</option>
									<option value="install">Install</option>
									<option value="free">Free</option>
									<option value="plan1">Plan 1</option>
									<option value="plan2">Plan 2</option>
									<option value="plan3">Plan 3</option>
									<option value="plan4">Plan 4</option>
									<option value="plan5">Plan 5</option>
								</select>&nbsp;&nbsp;
								<input type="button" value="Request Maintenance" dojoAttachPoint="btnMaint" />
							</td>
						</tr>
						<tr>
							<td class="lbl">Last Onsite Date</td>
							<td><input type="text" value="" dojoAttachPoint="entMaintenanceOnsite" size="32" maxlength="10" /></td>
						</tr>
						<tr>
							<td class="lbl">Skip Reporting</td>
							<td><input type="checkbox" dojoAttachPoint="btnSkip" /></td>
						</tr>
					</table>
					<!-- End DVS Info -->
				</td>
				<td>
					<!-- Network Info -->
					<table cellspacing="0" class="tblServerInfo">
						<tr>
							<th colspan="2">Network Info</th>
						</tr>
						<tr>
							<td class="lbl">Heartbeat</td>
							<td><p dojoAttachPoint="pHeartbeat"></p></td>
						</tr>
						<tr>
							<td class="lbl">Public IP</td>
							<td><p dojoAttachPoint="pIP"></p></td>
						</tr>
						<tr>
							<td class="lbl">Remote IP</td>
							<td><p dojoAttachPoint="pRemoteIP"></p></td>
						</tr>
						<tr>
							<td class="lbl">Local IP</td>
							<td><p dojoAttachPoint="pLocalIP"></p></td>
						</tr>
						<tr>
							<td class="lbl">Port</td>
							<td><p dojoAttachPoint="pPort"></p></td>
						</tr>
						<tr>
							<td class="lbl">SSH Port</td>
							<td><p dojoAttachPoint="pSshPort"></p></td>
						</tr>
						<tr>
							<td class="lbl">Hostname</td>
							<td><input type="text" value="" dojoAttachPoint="entHostname" size="32" maxlength="64" /></td>
						</tr>
						<tr>
							<td class="lbl">Categories</td>
							<td><input type="text" value="" dojoAttachPoint="entCategories" size="32" maxlength="64" /></td>
						</tr>
						<tr>
							<td class="lbl">Preferred</td>
							<td><input type="text" value="" dojoAttachPoint="entPreferred" size="32" maxlength="64" /></td>
						</tr>
						<tr>
							<td class="lbl">PassProtect</td>
							<td><input type="checkbox" dojoAttachPoint="btnAuth" /></td>
						</tr>
					</table>
					<!-- End Network Info -->
				</td>
			</tr>
			<tr valign="top">
				<td>
					<!-- Product Key -->
					<table cellspacing="0" class="tblServerInfo">
						<tr>
							<th colspan="2">Product Key</th>
						</tr>
						<tr>
							<td class="lbl"> DVS Key</td>
							<td><input type="text" value="" dojoAttachPoint="entKey" size="45" maxlength="39" readonly /></td>
						</tr>
						<tr>
							<td class="lbl">Version</td>
							<td>
								<select size="1" dojoAttachPoint="cbxVersion">
									<option value="2.0">2.0</option>
									<option value="2.5">2.5</option>
									<option value="3.0">3.0</option>
									<option value="3.1">3.1</option>
									<option value="3.2">3.2</option>
									<option value="3.3">3.3</option>
									<option value="3.4">3.4</option>
									<option value="4.0">4.0</option>
									<option value="4.1">4.1</option>
								</select>&nbsp;
								<span dojoAttachPoint="pVersionInstalled"></span>
							</td>
						</tr>
						<tr>
							<td class="lbl">Numcam</td>
							<td>
								<select size="1" dojoAttachPoint="cbxNumcam">
									<option value="0">N/A</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
								</select>
							</td>
						</tr>
						<!-- Old < 4.0 Product Key -->
						<tr dojoAttachPoint="trPosKey">
							<td class="lbl">POS Key</td>
							<td><input type="text" value="" dojoAttachPoint="entPosKey" size="30" maxlength="24" readonly /></td>
						</tr>
						<!-- End Old < 4.0 Product Key -->
						<tr>
							<td class="lbl">POS Lock</td>
							<td><input type="number" min="0" max="255" value="0" dojoAttachPoint="entPosLock" ></td>
						</tr>
						<tr dojoAttachPoint="trMac">
							<td class="lbl">Mac</td>
							<td><input type="text" value="" dojoAttachPoint="entMac" size="30" maxlength="2" /></td>
						</tr>
						<!-- New 4.0 Product Key -->
						<tr dojoAttachPoint="trSeed">
							<td class="lbl">Seed</td>
							<td><input type="text" value="" dojoAttachPoint="entSeed" size="20" maxlength="12" /></td>
						</tr>
						<tr dojoAttachPoint="trFeatures">
							<td class="lbl">Features</td>
							<td>
								<input type="text" value="" dojoAttachPoint="entFeatures" size="32" maxlength="255" readonly />
								<input type="button" value="+" dojoAttachPoint="btnFeatureAdd" />
								<input type="button" value="-" dojoAttachPoint="btnFeatureRemove" />
							</td>
						</tr>
						<tr dojoAttachPoint="trPosTypes">
							<td class="lbl">Pos Types</td>
							<td>
								<input type="text" value="" dojoAttachPoint="entPosTypes" size="32" maxlength="255" readonly />
								<input type="button" value="+" dojoAttachPoint="btnPosTypeAdd" />
								<input type="button" value="-" dojoAttachPoint="btnPosTypeRemove" />
							</td>
						</tr>
						<tr dojoAttachPoint="trLprLock">
							<td class="lbl">LPR Lock</td>
							<td><input type="number" min="0" max="255" value="0" dojoAttachPoint="entLprLock" ></td>
						</tr>
						<!-- End New 4.0 Product Key -->
						<tr>
							<td class="lbl">Kill DVS</td>
							<td><input type="checkbox" dojoAttachPoint="btnKillHard" /> (hard) <input type="checkbox" dojoAttachPoint="btnKillSoft" /> (soft)</td>
						</tr>
						<tr>
							<td class="lbl">eView</td>
							<td><input type="checkbox" dojoAttachPoint="btnEnterprise" /></td>
						</tr>
					</table>
					<!-- End Product Key -->
				</td>
				<td>
					<!-- Open Ticket -->
					<table cellspacing="0" class="tblServerInfo">
						<tr>
							<th colspan="2">Open Ticket</th>
						</tr>
						<tr>
							<td class="lbl">Summary</td>
							<td><input type="text" value="" dojoAttachPoint="entSummary" size="32" maxlength="255" /></td>
						</tr>
						<tr valign="top">
							<td class="lbl">Description</td>
							<td>
								<textarea dojoAttachPoint="entDesc" rows="6" cols="32"></textarea>
							</td>
						</tr>
						<tr>
							<td class="lbl"></td>
							<td align="right">
								<input type="button" value="Open" dojoAttachPoint="btnOpen" />
							</td>
						</tr>
					</table>
					<!-- End Open Ticket -->
				</td>
			</tr>
			<tr valign="top">
				<td colspan="2">
					<!-- Ticket List -->
					<table cellspacing="0" class="tblServerInfo" dojoAttachPoint="tblTicketList" width="100%">
						<tr>
							<th>ID</th>
							<th>Modified</th>
							<th>Assignee</th>
							<th>Status</th>
							<th>Summary</th>
						</tr>
					</table>
					<!-- End Ticket List -->
				</td>
			</tr>
		</table>

	</div>
	<!-- End Tab - Server Info -->

</div>
