<div>

	<table dojoAttachPoint="tblHeader" align="center" border="0" cellspacing="0" cellpadding="0" width="800">

		<!-- Header -->
		<tr valign="bottom">
			<td align="left"><img src="${_imgLogo}" alt="Dividia Technologies, LLC Logo" width="301" height="55" /></td>
			<td align="right">Dividia Control Center (Monarch)<br /><span class="copyright">${_sCopyright}</span></td>
		</tr>
		<tr><td colspan="2"><hr /></td></tr>
		<tr valign="top">
			<td align="left">&nbsp;</td>
			<td align="right"><a href="#" dojoAttachPoint="btnLogout">Logout</a></td>
		</tr>
		<!-- End Header -->

		<tr valign="middle">
			<td colspan="2" align="center">

				<!-- Button Section -->
				<table border="0" cellspacing="10" cellpadding="10">
					<tr>
						<td><input type="button" value="Registrations" dojoAttachPoint="btnRegistrations" /></td>
						<td><input type="button" value="Failed Cameras" dojoAttachPoint="btnCamera" /></td>
					</tr>
					<tr>
						<td><input type="button" value="Price List" dojoAttachPoint="btnPriceList" /></td>
						<td>&nbsp;</td>
					</tr>
<!--
					<tr>
						<td><input type="button" value="Events" dojoAttachPoint="btnEvents" /></td>
						<td><input type="button" value="Quotes" dojoAttachPoint="btnQuotes" /></td>
					</tr>
					<tr>
						<td><input type="button" value="Maintenance" dojoAttachPoint="btnMaintenance" /></td>
						<td><input type="button" value="Customers" dojoAttachPoint="btnCustomers" /></td>
					</tr>
-->
				</table>
				<!-- End Button Section -->

			</td>
		</tr>

</div>
